---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="צור קשר" description="צור קשר" noindex>
  <section class="py-16 px-4 max-w-4xl mx-auto">
    <h1 class="text-3xl font-bold mb-4">צור קשר</h1>
  </section>
</BaseLayout>
