---
import SkipLink from "../components/common/SkipLink.astro";
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import SEOHead from "../components/common/SEOHead.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "יועצת שרשרת אספקה אסטרטגית" } = Astro.props;
---

<!doctype html>
<html dir="rtl" lang="he">
  <head>
    <SEOHead title={title} description={description} />
  </head>
  <body class="min-h-screen flex flex-col bg-white text-gray-900 font-sans">
    <SkipLink />
    <Header />
    <main id="main-content" class="flex-1 text-right">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html[dir="rtl"] body {
    direction: rtl;
    text-align: right;
  }

  html[dir="rtl"] :is(p, h1, h2, h3, h4, h5, h6) {
    unicode-bidi: plaintext;
  }

  html[dir="rtl"] :is(ul, ol) {
    list-style-position: outside;
    padding-inline-start: 1.25rem;
  }
</style>
